$primary: #7a38ed;
$secondary: #68678e;
$danger: #ff9671;
$success: #00c9a7;
$warning: #ffc75f;
$dark: #120056;
$gray: #d8d8d8;
$white: #fff;
$blue: rgb(25, 104, 206);
$pink: rgb(240, 235, 255);
$beige: rgb(184, 166, 152);
// Custom colors map
$custom-colors: (
  "gray": $gray,
  "blue": $blue,
  "pink": $pink,
  "beige": $beige,
);
